{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>年会抽奖小程序</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wall.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'layui-v2.4.5/layui/css/layui.css' %}">
    <script>         var csrftoken = '{{ csrf_token }}';     </script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui-v2.4.5/layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zepto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tagcanvas.js' %}"></script>
</head>
<body>

<div id="main" class="wall"></div>
<div id="result" class="result"></div>
<div id="tools" class="tools">
    <div class="layui-anim layui-anim-up layui-anim-rotate">
        <button id="lottery" name="lottery" class="layui-btn layui-btn-lg layui-btn-danger layui-btn-radius" style="width: 50%;" >抽奖</button>
        {#        <div id="special_class" data-method="special_class" >#}
        {#            <span style="color: blue;">特等奖规则</span>#}
        {#        </div>#}
    </div>


    <br/><br/><br/>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: yellow">奖项</span></label>
                <div class="layui-input-inline">
                    <select id="prize_class" name="prize_class" lay-verify="required" lay-search=""  lay-filter="prize_class">
                        <option value="">请选择奖项</option>
                        {% for prize_class in prize_classes %}
                            <option value="{{ prize_class.id }}">{{ prize_class.name }}</option>
                        {% endfor %}
                        <option value="other">其他</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div id="prize_div" class="layui-inline">
                <label class="layui-form-label"><span style="color: yellow">奖品</span></label>
                <div class="layui-input-inline">
                    <select id="prize" name="prize" lay-verify="required" lay-search="" lay-filter="prize">
                        <option value="">请选择奖品</option>
                    </select>
                </div>
            </div>

            <div id="number_div" name="number" class="layui-inline">
                <label class="layui-form-label"><span style="color: yellow">人数</span></label>
                <div class="layui-input-inline">
                    <input type="number" id="user_number" name="user_number" lay-verify="user_number" autocomplete="off" placeholder="请输入人数" class="layui-input">
                </div>
            </div>
        </div>

    </form>

    <a id="admin" name="admin" href="/admin/" target="_blank" class="layui-btn layui-btn-xs layui-btn-normal">管理后台</a>
    <button id="reset" name="reset" class="layui-btn layui-btn-xs layui-btn-normal">重置</button>
    <button data-method="prizes" class="layui-btn layui-btn-xs layui-btn-normal">查看所有奖品</button>
    <button data-method="lottery" class="layui-btn layui-btn-xs layui-btn-normal">中奖名单</button>
    {#    <button id="special_class"  data-method="special_class" class="layui-btn layui-btn-xs layui-btn-normal">特等奖规则</button>#}
    <button id="music_switch"  data-method="music-on" class="layui-btn layui-btn-xs layui-btn-normal"><i id="music_icon" class="layui-icon layui-icon-pause"></i></button>

</div>

<div id="tools-2" class="tools-2">
    <div id="show_prize" class="layui-anim layui-anim-up layui-anim-rotate">
        <img id="prize_img" style="height: 60%; width: 70%" src="">
    </div>

    <div id="show_prize_font" class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <p id="prize_class_font" style="color: #FFDF85; font-size: x-large"></p>
                <p id="prize_font" style="color: #FFDF85; font-size: x-large"></p>
            </div>
        </div>
    </div>
</div>

<audio id="music" autoplay="autoplay" loop="loop" preload src="{% static 'music.mp3' %}"></audio>
<audio id="lottery_music"  loop="loop" preload src="{% static 'lottery.mp3' %}"></audio>

<script type="text/javascript">
    $(function () {

        //定义audio变量为音频播放控件ID
        var audio = document.getElementById("music");
        var lottery_audio = document.getElementById("lottery_music");
        //定义一个变量status作为当前播放状态并赋值
        var status = 1;
        var lottery_status = 0;
        //使音频默认自动播放
        //$(document).ready(function(){
        //    audio.play();
        //});
        //设置按钮点击事件
        $("#music_switch").click(function(){
            if (status>0) {
                audio.pause();
                $(this).html('<i class="layui-icon layui-icon-play"></i>');
                status = 0;
            }
            else {
                audio.play();
                $(this).html('<i class="layui-icon layui-icon-pause"></i>');
                status = 1;
            }
        });

        $(document).keydown(function (e) {
            if (e.keyCode === 27) {
                $('#result').css('display', 'none');
                $('#main').removeClass('mask');
            }
        });

        $(document.body).click(function(e){
            if(e.target.id === 'result'){
                $('#result').css('display', 'none');
                $('#main').removeClass('mask');
            }
        });

        //一般直接写在一个js文件中
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer
                ,form = layui.form;
            layer.msg('赛哲生物, 年会抽奖即将开始!');

            //触发事件
            var active = {
                lottery: function(){
                    // 所有中奖用户
                    layer.open({
                        type: 2
                        ,title: '所有奖品'
                        ,closeBtn: false
                        ,area: ['80%', '80%']
                        ,shade: 0
                        ,id: 'lottery_id' //设定一个id，防止重复弹出
                        ,btn: ['继续抽奖!', '我就看看!']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '{% url 'get_winner_users' %}'
                    });
                }
                ,prizes: function(){
                    // 所有奖品
                    layer.open({
                        type: 2
                        ,title: '所有奖品'
                        ,closeBtn: false
                        ,area: ['80%', '80%']
                        ,shade: 0
                        ,id: 'prizes_id' //设定一个id，防止重复弹出
                        ,btn: ['继续抽奖!', '我就看看!']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '{% url 'get_all_prizes' %}'
                    });
                }
                ,special_class: function(){
                    //配置一个透明的询问框
                    layer.msg('<img style="height: 100%; width: 100%"  src="{% static 'img/special_class.jpg' %}">', {
                        time: 20000, //20s后自动关闭
                        area: ['80%', '80%'],
                        shade: 0,
                        btn: ['明白了']
                    });
                    {#console.log("special_class")#}
                    {#$('#special_class-2').css('display', 'block').html('<img src="{% static 'img/special_class.jpg' %}">');#}
                },
                blue_theme: function(){
                    document.getElementById('main').style.backgroundImage="url({% static 'img/icon-wall.jpg' %})";
                    {#$('body').css('background-image', 'url({% static 'img/icon-wall.jpg' %})');#}
                },
                new_year_theme: function(){
                    document.getElementById('main').style.backgroundImage="url({% static 'img/icon-wall-2.jpg' %})";
                    {#$('body').css('background-image', 'url({% static 'img/icon-wall-2.jpg' %})');#}
                }
            };

            $('.layui-btn').on('click', function(){
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

            $('#special_class').on('click', function(){
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

            // 根据奖项取得奖品
            form.on('select(prize_class)', function(data){
                console.log(data.value);
                $("#show_prize").hide();
                $("#show_prize_font").hide();
                if (data.value === 'other'){
                    $("#prize_div").hide();
                    $("#number_div").show();
                }else {
                    $("#prize_div").show();
                    $("#number_div").hide();
                }
                if ($("#prize_class").val() === 'other'){
                    $("#show_prize_font").show();
                    $("#prize_class_font").text('其他奖项');
                    $("#prize_font").text('');
                }

                var payload = {
                    'prize_class_id': data.value,
                    'csrfmiddlewaretoken': csrftoken
                };
                $.post("/get_prize_by_class/", payload, function (result) {
                    $("#prize").html('<option value="">请选择奖品</option>');
                    result.prizes.forEach(function(item, index){
                        $("#prize").append("<option value=" + item.id + " data-img="+ item.img +">" + item.name + "("+ item.number +")人</option>")
                    });
                    form.render();
                })
            });

            form.on('select(prize)', function(data){
                $("#show_prize").show();
                $("#show_prize_font").show();
                console.log(data.value);
                var payload = {
                    'prize_id': data.value,
                    'csrfmiddlewaretoken': csrftoken
                };
                $.post("/get_specify_prize/", payload, function (result) {
                    $("#prize_img").attr("src", result.prize.img);
                    $("#prize_class_font").text(result.prize.class);
                    $("#prize_font").text(result.prize.name);
                })


            });

        });

        var member = []; // 初始化用户
        var running = false; // 是否正在抽奖
        var textHeight = 25; // 用户池大小
        $("#prize_div").show();
        $("#number_div").hide();
        $("#show_prize").hide();
        $("#show_prize_font").hide();

        if ($("#prize_class").val()) {
            if ($("#prize_class").val() === 'other'){
                $("#prize_div").hide();
                $("#number_div").show();
                $("#show_prize").hide();
                $("#show_prize_font").show();
                $("#prize_class_font").text('其他奖项');
                var user_number = $("#user_number").val();
                if (user_number) {
                    $("#prize_font").text('抽奖人数:' + user_number);
                }
            }else {
                $("#prize_div").show();
                $("#number_div").hide();
                $.post("/get_prize_by_class/", {'prize_class_id': $("#prize_class").val(), 'csrfmiddlewaretoken': csrftoken}, function (result) {
                    $("#prize").html('<option value="">请选择奖品</option>');
                    result.prizes.forEach(function(item, index){
                        $("#prize").append("<option value=" + item.id + ">" + item.name + "("+ item.number +")人</option>")
                    });
                    form.render();
                })

                if ($("#prize").val()) {
                    $("#show_prize").show();
                    $("#show_prize_font").show();
                    var payload = {
                        'prize_id': $("#prize").val(),
                        'csrfmiddlewaretoken': csrftoken
                    };
                    $.post("/get_specify_prize/", payload, function (result) {
                        $("#prize_img").attr("src", result.prize.img);
                        $("#prize_class_font").text(result.prize.class);
                        $("#prize_font").text(result.prize.name);
                    })
                }
                else {
                    $("#show_prize").hide();
                    $("#show_prize_font").hide();
                }

            }

        }


        $("#user_number").bind("keyup change", function(e) {
            $("#prize_font").text('抽奖人数:' + this.value);
        });

        // 用户池
        var createHTML = function(){
            $.ajax({
                type: 'get',
                url: '/get_all_users/',
                data: {
                    'csrfmiddlewaretoken': csrftoken
                },
                async:false,//取消异步请求
                success: function (data) {
                    member = data.users
                }
            });
            var html = [ '<ul>' ];
            member.forEach(function(item, index){
                var color = item.color;
                html.push('<li><a href="#" style="color: ' + color + ';">' + item.name + '</a></li>');
            });
            html.push('</ul>');
            return html.join('');
        };

        // 旋转速度
        var speed = function(){
            return [0.1 * Math.random() + 0.01, -(0.1 * Math.random() + 0.01)];
        };

        // 初始化用户池
        var canvas = document.createElement('canvas');
        canvas.id = 'myCanvas';
        canvas.width = document.body.offsetWidth;
        canvas.height = document.body.offsetHeight;
        document.getElementById('main').appendChild(canvas);

        canvas.innerHTML = createHTML();

        TagCanvas.Start('myCanvas', '', {
            textColour: null,
            initial: speed(),
            dragControl: 1,
            textHeight: textHeight
        });

        var getKey = function(item){
            return item.name + '-' + item.group;
        };

        // 中奖用户
        var lottery = function(winners){
            var total = winners.length;
            var ret = [];
            for(var i = 0; i < total; i++){
                if (winners[i].group) {
                    ret.push(winners[i].name + '<br/>' + winners[i].group);
                } else {
                    ret.push(winners[i].name + '<br/>' + '&nbsp;');
                }
            }
            console.log('ret')
            console.log(ret)
            return ret;
        };

        $( "#lottery" ).click(function() {
            var prize_class= $("#prize_class").val();
            var prize = $("#prize").val();
            var user_number = $("#user_number").val();
            var that = $(this);
            var is_break = false;
            if (!prize_class) {
                layer.msg('请选择奖项!!');
                return
            }
            if (prize_class === 'other') {
                if (!user_number) {
                    layer.msg('请填入抽奖人数!!');
                    return
                }


                if (running) {
                    $.ajax({
                        type: 'post',
                        url: '/other_lottery/',
                        data: {
                            'user_number': user_number,
                            'csrfmiddlewaretoken': csrftoken,
                        },
                        async:false,//取消异步请求
                        success: function (response) {
                            if (response.success){
                                lottery_audio.pause();
                                if (status>0){
                                    audio.play();
                                }
                                var winners = response.winners;
                                console.log(winners);
                                TagCanvas.SetSpeed('myCanvas', speed());
                                var ret = lottery(winners);

                                var html = [ '' ];
                                ret.forEach(function(item, index){
                                    html.push('<span>' + item + '</span>');
                                    if((index+1) >0 && (index+1) % 5===0){
                                        html.push('<br/>');
                                    }
                                });
                                {#$('#result').css('display', 'block').html('<span>' + ret.join('</span><span>') + '</span>');#}
                                $('#result').css('display', 'block').html(html.join(''));

                                TagCanvas.Reload('myCanvas');
                                $('#main').addClass('mask');
                                console.log(ret);
                                layer.msg(response.messages);
                                running = false;
                                that.text('抽奖');

                                // 刷新用户池
                                canvas.innerHTML = createHTML();
                                TagCanvas.Start('myCanvas', '', {
                                    textColour: null,
                                    initial: speed(),
                                    dragControl: 1,
                                    textHeight: textHeight
                                });
                            }
                            else {
                                running = false;
                                that.text('抽奖');
                                TagCanvas.SetSpeed('myCanvas', speed());
                                layer.msg(response.messages);
                                $('#result').css('display', 'none');
                                $('#main').removeClass('mask');
                                TagCanvas.Reload('myCanvas');
                            }
                        }
                    });
                }else {
                    layer.msg('进行抽奖!');
                    $('#result').css('display', 'none');
                    $('#main').removeClass('mask');
                    TagCanvas.SetSpeed('myCanvas', [5, 1]);
                    running = true;
                    that.text('停止');
                    lottery_audio.play();
                    if (status>0){
                        audio.pause();
                    }
                }

            }else {
                if (!prize) {
                    layer.msg('请选择本轮抽取的奖品!!');
                    return
                }

                // 判断是否可以抽奖, 已抽奖时不能再进行抽奖
                $.ajax({
                    type: 'post',
                    url: '/can_lottery/',
                    data: {
                        'prize_id': $("#prize").val(),
                        'csrfmiddlewaretoken': csrftoken
                    },
                    async:false,//取消异步请求
                    success: function (data) {
                        if (!data.success){
                            layer.msg(data.messages);
                            is_break = true
                        }
                    }
                });

                if (is_break) {
                    return
                }

                if (running) {
                    $.ajax({
                        type: 'post',
                        url: '/lottery/',
                        data: {
                            'prize_class_id': prize_class,
                            'prize_id': prize,
                            'csrfmiddlewaretoken': csrftoken,
                        },
                        async:false,//取消异步请求
                        success: function (response) {
                            if (response.success){
                                lottery_audio.pause();
                                if (status>0){
                                    audio.play();
                                }
                                var winners = response.winners;
                                console.log(winners);
                                TagCanvas.SetSpeed('myCanvas', speed());
                                var ret = lottery(winners);

                                var html = [ '' ];
                                ret.forEach(function(item, index){
                                    html.push('<span>' + item + '</span>');
                                    if((index+1) >0 && (index+1) % 5===0){
                                        html.push('<br/>');
                                    }
                                });
                                {#$('#result').css('display', 'block').html('<span>' + ret.join('</span><span>') + '</span>');#}
                                $('#result').css('display', 'block').html(html.join(''));

                                TagCanvas.Reload('myCanvas');
                                $('#main').addClass('mask');
                                console.log(ret);
                                layer.msg(response.messages);
                                running = false;
                                that.text('抽奖');

                                // 刷新用户池
                                canvas.innerHTML = createHTML();
                                TagCanvas.Start('myCanvas', '', {
                                    textColour: null,
                                    initial: speed(),
                                    dragControl: 1,
                                    textHeight: textHeight
                                });
                            }
                            else {
                                running = false;
                                that.text('抽奖');
                                TagCanvas.SetSpeed('myCanvas', speed());
                                layer.msg(response.messages);
                                $('#result').css('display', 'none');
                                $('#main').removeClass('mask');
                                TagCanvas.Reload('myCanvas');
                            }
                        }
                    });
                }else {
                    layer.msg('进行抽奖!');
                    $('#result').css('display', 'none');
                    $('#main').removeClass('mask');
                    TagCanvas.SetSpeed('myCanvas', [5, 1]);
                    running = true;
                    that.text('停止');
                    lottery_audio.play();
                    if (status>0){
                        audio.pause();
                    }
                }
            }


        });

        $( "#reset" ).click(function() {
            layer.confirm('是否确定要重置所有抽奖数据？', {
                btn: ['确定', '按错了'] //可以无限个按钮
            }, function(index){
                var payload = {
                    'csrfmiddlewaretoken': csrftoken
                };
                $.post("/reset_all/", payload, function (response) {
                    layer.msg(response.messages);
                })

                // 刷新用户池
                canvas.innerHTML = createHTML();
                TagCanvas.Start('myCanvas', '', {
                    textColour: null,
                    initial: speed(),
                    dragControl: 1,
                    textHeight: textHeight
                });
            }, function(index){
                layer.msg("继续抽奖!");
            });



        });
    })();
</script>
</body>
</html>