{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>年会抽奖小程序</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wall.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'layui-v2.4.5/layui/css/layui.css' %}">
    <script>         var csrftoken = '{{ csrf_token }}';     </script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui-v2.4.5/layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zepto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tagcanvas.js' %}"></script>
</head>
<body>

<div id="main" class="wall"></div>
<div id="result" class="result"></div>
<div id="tools" class="tools">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: yellow">奖项</span></label>
                <div class="layui-input-inline">
                    <select id="prize_class" name="prize_class" lay-verify="required" lay-search=""  lay-filter="prize_class">
                        <option value="">请选择奖项</option>
                        {% for prize_class in prize_classes %}
                            <option value="{{ prize_class.id }}">{{ prize_class.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: yellow">奖品</span></label>
                <div class="layui-input-inline">
                    <select id="prize" name="prize" lay-verify="required" lay-search="" lay-filter="prize">
                        <option value="">请选择奖品</option>
                    </select>
                </div>
            </div>
        </div>

    </form>
    <button id="lottery" name="lottery" class="pure-button" >抽奖</button>
    <button id="reset" name="reset" class="pure-button button-warning">重置</button>
    <button data-method="prizes" class="layui-btn">查看所有奖品</button>
    <button data-method="lottery" class="layui-btn">中奖名单</button>
</div>

<div id="tools-2" class="tools-2">
    <button data-method="blue_theme" class="layui-btn layui-btn-normal">深蓝主题</button>
    <button data-method="new_year_theme" class="layui-btn layui-btn-warm">喜庆主题</button>
</div>

<script type="text/javascript">
    $(function () {

        $(document).keypress(function (e) {
            $('#result').css('display', 'none');
            $('#main').removeClass('mask');
        });

        //一般直接写在一个js文件中
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer
                ,form = layui.form;
            layer.msg('赛哲生物, 年会抽奖即将开始!');

            //触发事件
            var active = {
                lottery: function(){
                    // 所有中奖用户
                    layer.open({
                        type: 2
                        ,title: '所有奖品'
                        ,closeBtn: false
                        ,area: ['80%', '80%']
                        ,shade: 0
                        ,id: 'lottery_id' //设定一个id，防止重复弹出
                        ,btn: ['继续抽奖!', '我就看看!']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '{% url 'get_winner_users' %}'
                    });
                }
                ,prizes: function(){
                    // 所有奖品
                    layer.open({
                        type: 2
                        ,title: '所有奖品'
                        ,closeBtn: false
                        ,area: ['80%', '80%']
                        ,shade: 0
                        ,id: 'prizes_id' //设定一个id，防止重复弹出
                        ,btn: ['继续抽奖!', '我就看看!']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '{% url 'get_all_prizes' %}'
                    });
                },
                blue_theme: function(){
                    document.getElementById('main').style.backgroundImage="url({% static 'img/icon-wall.jpg' %})";
                    {#$('body').css('background-image', 'url({% static 'img/icon-wall.jpg' %})');#}
                },
                new_year_theme: function(){
                    document.getElementById('main').style.backgroundImage="url({% static 'img/icon-wall-2.jpg' %})";
                    {#$('body').css('background-image', 'url({% static 'img/icon-wall-2.jpg' %})');#}
                }
            };

            $('.layui-btn').on('click', function(){
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

            // 根据奖项取得奖品
            form.on('select(prize_class)', function(data){
                console.log(data.value);
                var payload = {
                    'prize_class_id': data.value,
                    'csrfmiddlewaretoken': csrftoken
                };
                $.post("/get_prize_by_class/", payload, function (result) {
                    $("#prize").html('<option value="">请选择奖品</option>');
                    result.prizes.forEach(function(item, index){
                        $("#prize").append("<option value=" + item.id + ">" + item.name + "("+ item.number +")人</option>")
                    });
                    form.render();
                })
            });

            form.on('select(prize)', function(data){
                console.log(data.value);

            });

        });

        if ($("#prize_class").val()) {
            $.post("/get_prize_by_class/", {'prize_class_id': $("#prize_class").val(), 'csrfmiddlewaretoken': csrftoken}, function (result) {
                $("#prize").html('<option value="">请选择奖品</option>');
                result.prizes.forEach(function(item, index){
                    $("#prize").append("<option value=" + item.id + ">" + item.name + "("+ item.number +")人</option>")
                });
                form.render();
            })
        }


        var member = []; // 初始化用户
        $.ajax({
            type: 'get',
            url: '/get_all_users/',
            data: {
                'csrfmiddlewaretoken': csrftoken
            },
            async:false,//取消异步请求
            success: function (data) {
                member = data.users
            }
        });

        // 用户池
        var createHTML = function(){
            var html = [ '<ul>' ];
            member.forEach(function(item, index){
                var color = 'yellow';
                html.push('<li><a href="#" style="color: ' + color + ';">' + item.name + '</a></li>');
            });
            html.push('</ul>');
            return html.join('');
        };

        // 旋转速度
        var speed = function(){
            return [0.1 * Math.random() + 0.01, -(0.1 * Math.random() + 0.01)];
        };

        // 初始化用户池
        var canvas = document.createElement('canvas');
        canvas.id = 'myCanvas';
        canvas.width = document.body.offsetWidth;
        canvas.height = document.body.offsetHeight;
        document.getElementById('main').appendChild(canvas);

        canvas.innerHTML = createHTML();

        TagCanvas.Start('myCanvas', '', {
            textColour: null,
            initial: speed(),
            dragControl: 1,
            textHeight: 14
        });

        var getKey = function(item){
            return item.name + '-' + item.group;
        };

        // 中奖用户
        var lottery = function(winners){
            var total = winners.length;
            var ret = [];
            for(var i = 0; i < total; i++){
                ret.push(winners[i].name + '<br/>' + winners[i].group);
            }
            console.log('ret')
            console.log(ret)
            return ret;
        };

        $( "#lottery" ).click(function() {
            var prize_class= $("#prize_class").val();
            var prize = $("#prize").val();
            if (!prize_class) {
                layer.msg('请选择奖项!!');
                return
            }
            if (!prize) {
                layer.msg('请选择本轮抽取的奖品!!');
                return
            }

            $.ajax({
                type: 'post',
                url: '/lottery/',
                data: {
                    'prize_class_id': prize_class,
                    'prize_id': prize,
                    'csrfmiddlewaretoken': csrftoken,
                },
                async:false,//取消异步请求
                success: function (response) {
                    if (response.success){
                        $('#result').css('display', 'none');
                        $('#main').removeClass('mask');
                        TagCanvas.SetSpeed('myCanvas', [5, 1]);

                        layer.msg('正在抽奖!');
                        setTimeout(function(){
                            var winners = response.winners;
                            console.log(winners)
                            TagCanvas.SetSpeed('myCanvas', speed());
                            var ret = lottery(winners);
                            $('#result').css('display', 'block').html('<span>' + ret.join('</span><span>') + '</span>');
                            TagCanvas.Reload('myCanvas');
                            $('#main').addClass('mask');
                            console.log(ret);
                            layer.msg(response.messages);
                        }, 3000);
                    }
                    else {
                        layer.msg(response.messages);
                    }

                }
            });
        });

        $( "#reset" ).click(function() {
            layer.confirm('是否确定要重置所有抽奖数据？', {
                btn: ['确定', '按错了'] //可以无限个按钮
            }, function(index){
                var payload = {
                    'csrfmiddlewaretoken': csrftoken
                };
                $.post("/reset_all/", payload, function (response) {
                    layer.msg(response.messages);
                })
            }, function(index){
                layer.msg("继续抽奖!");
            });



        });
    })();
</script>
</body>
</html>